
html, body{
    margin: 0;
    height: 100vh;
    background-color: black;
}
/* Wallpapers Start */
#wpOne{
    background-image: url(/assets/IMG_8131.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

#wpTwo{
    background-image: url(/assets/IMG_8508.jpg);
    
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}
/* Wallpapers End */

/* Containers Start */
.cHeight{
    height: 100% !important;
}
/* Containers End */


h1,
h3{
    color: white;
    text-align: center;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

button{
    width: 100px;
    height: 50px;
    background-color: orange;
}
#rockBtn{
background-image: url(/assets/Rock.jpg);
background-size: cover;
background-repeat: no-repeat;
color: white;
font-weight: bold;
}
#paperBtn{
    background-image: url(/assets/paper.jpg);
background-size: cover;
background-repeat: no-repeat;
font-weight: bold;
}
#scissorsBtn{
    background-image: url(/assets/download.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    color:Black;
    font-weight: bold;
}
#lizardBtn{
    background-image: url(/assets/lizzard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}
#spockBtn{
    background-image: url(/assets/spock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-weight: bold;
}

.accordion-body{
    color: white;

    background-image: url(/assets/IMG_7441.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: grey;
}

.accordion-button{
    background-color: orange;
}

/* Text */
p{
    color: white;
}